/*

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }


*/

/* 
    Body:
    width: %width of browser to use
    font-family: give font options to use for the page
        in order of priority;
*/
body{

    font-family: paltino,cambrida,arial;
    width: 98%;
    background-color:#607D8B;
    margin-left: 1%;
    margin-right:1%;
}

/*
    Define header section
    dimensions % relative to body
    color specifies text color
    <h1> further specifies font width in units of viewport
*/
header{
    text-align: center;
    display: block;
    color: #212121;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-right:5%;
    overflow:hidden;
}
h1{
    font-size:5vw;
}
/*
    Define navigation section
    dimensions % relative to body
    this gives 20% padding on left, right and bottom
*/
nav{
    color: #455A64;
    margin-left: 20%;
    margin-right: 20%;
    height: 80% ;
    width: 60%;
    text-align:center;   
}
/*
    First wrapper defines the working space relative to body
    Here % dimensions are relative to nav
    padding defines the aspect ratio 4:3
*/
#wrapper1{
    width: 100%;
    padding-top: 75%; /* defines aspect ratio */
    position: relative;
}
    /*
        Second wrapper initiates 'absolute' positioning so
        that all children now reference wrapper1 dimensions
        wrapper2 is aligned to wrapper1
    */
    #wrapper2{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    /*
        Now % dimensions are relative to wrapper2
        float defines the order in which the sections appear
        dimensions here give aspect ratio needed for image sizes
    */
    #blog{
        padding:2.5%;
        width: 45%;
        height:41%;
        background-color: #607D8B;
        float:left;
    }

    #Thesis{
        padding: 2.5%;
        width: 45%;
        height:41%;
        background-color: #607D8B;
        float:left;
    }
    #projects{
        padding: 2.5%;
        width: 45%;
        height:41%;
        background-color: #607D8B;
        float:left;
    }
    #photos{
        padding: 2.5%;
        width: 45%;
        height:41%;
        background-color: #607D8B;
        float:left;
    }

    /*
        background images 
    */

    #imagethesis{
        width: 100%;
        height:100%;
        background: #03A9F4 url('/images/Thesis.png') center no-repeat;
        background-size: auto 95%;
        float:left;
    }
    #imageblog{
        width: 100%;
        height:100%;
        background: #03A9F4 url('/images/uCavityMIT.png') center no-repeat;
        background-size: auto 95%;
        float:left;
    }
    #imageprojects{
        width: 100%;
        height:100%;
        background: #03A9F4 url('/images/Sandbox.png') center no-repeat;
        background-size: auto 95%;
        float:left;
    }
    #imagephotos{
        width: 100%;
        height:100%;
        background: #03A9F4 url('/images/Photos.JPG') center no-repeat;
        background-size: auto 95%;
        float:left;
    }

.clear{
 clear: both;
}

