/*
/*

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }


*/

/* 
    Body:
    width: %width of browser to use
    font-family: give font options to use for the page
        in order of priority;
*/
body{
    background-color:#607D8B;
    font-family: paltino,cambrida,arial;
    width: 100%;
    height:100%;
    margin:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;

}


#sidebar_left{
    font-family: paltino,cambrida,arial;
    position:fixed;
    color:#212121;
    background-color:#455A64;
    padding-left:3%;
    padding-right:5%;
    height:100%;
    width:12%;
    border-right: thin solid #B6B6B6;
    text-align:left;
    font-size:1.5vw;
    margin:0;
    display: inline-block;
    vertical-align: bottom;
    overflow-y:scroll;

}

#main{
    position: absolute;
    left: 17%;
    color: #212121;
    padding-left:5%;
    padding-right:5%;
    width:65%;
    height:100%;
    vertical-align: bottom;
    display: inline-block;

}

#post-title{
    border-bottom: thin solid #B6B6B6;
    font-size: 5vw;
    margin-bottom: 2%;
}
/*
    Define header section
    dimensions % relative to body
    color specifies text color
    <h1> further specifies font width in units of viewport
*/
header{
    text-align: left;
    display: block;
    color: #CFD8DC;
    width: 100%;
    height: 75%%;
    overflow:hidden;
    position:relative;
}
h1{
    font-size:5vw;
}

a {
    color: #03A9F4;
}

p{
}

.MathJax_Display {
  color: #03A9F4;
}
