{% if include.link %}
  {% assign link = include.link %}
{% else %}
  {% assign link = page.gallery %}
{% endif %}

{% if include.title %}
	{% assign title = include.title %}
{% else %}
	{% assign title = '' %}
{% endif %}

{% if include.caption %}
	{% assign caption = include.caption %}
{% else %}
	{% assign caption = '' %}
{% endif %}

<div class="gallery post-gallery">
	  <figure class="gallery-item">

		<header class='gallery-icon'>

		<a href="{{link}}" class="popup img-responsive"  title="{{title}}: " data-caption="{{caption}}">
		<img src="{{link}}"></a>
							
		</header>	
			
	   <figcaption class='gallery-caption'>
			<div class="entry-summary" id="{{caption}}">
					<h3>{{title}}</h3>
						<p>{{caption}}</p>
							</div>
						</figcaption>
					</figure>
</div>
