<!DOCTYPE html>

<html> 
  <!-- meta data -->
  <head>
    <title>MG</title>
    <link href="/images/site-icon.png" rel="icon" type="/image/x-icon">
    <link href="/css/page.css" rel="stylesheet"> 
    <link href="/css/syntax.css" rel="stylesheet">

    <meta name="viewport" content="initial-scale=1">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      },
      tex2jax: {
        inlineMath: [ ['$','$']]
      }
    });
  </script>
  <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  </head>

  <!-- page content -->
  <body>

  <div id="sidebar_left">
    <!-- page header -->
    <header> 
      <h1>Blog</h1>
    </header>
  

    

    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/thesis">projects</a></li>
        <li><a href="/photos">photos</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav></div>

    <div id="main">
      {{content}}
    </div>
  </body>

</html>